
body {
	background-color: #91F69F;
}

<head>
<link href="germanstyle.css" type="text/css" rel="stylesheet" />
</head>

.topnav {
   background-color: #333333;
   overflow: hidden;
}

.topnav a {
   float: left;
   color: #05953C;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;
   font-size: 17px;
}

.topnav a:hover {
   background-color: #79D585;
   color: black;
}

.topnav a.active {
   background-color: #0DB64D;
   color: white;
}
